{% extends "page_base.html" %}

{% block title %}
    {{ block.super }}: Class of 2016
{% endblock %}

{% block content %}
    {% if "verify" in request.GET or "unverified" in request.GET %}
    <div class="message">
        <p><b>Your account needs to be verified.</b> Check your TJHSST mailbox: <a href="https://webmail.tjhsst.edu">webmail.tjhsst.edu</a></p>
    </div>
    {% endif %}

    {% if "verified" in request.GET %}
    <div class="message">
        <p><b>Your account was verified.</b> You can log in below.</p>
    </div>
    {% endif %}

    {% if "noreg" in request.GET %}
    <div class="message">
        <p><b>Registration is disabled.</b> Email <a href="mailto:tjdestinations<a>wogloms.net">tjdestinations&lt;at&gt;wogloms.net</a> if you would like an account.</p>
    </div>
    {% endif %}

    <p>Welcome to TJ Senior Destinations 2016. This is intended to be a resource for:
    <ul>
        <li>the class of 2016 to share its progress in the admissions process with one another.</li>
        <li>the class of 2016 to share its achievements and college destinations with others.</li>
        <li>other classes at TJ as they prepare to apply for college.</li>
    </ul>

    <span style="background-color: yellow;padding: 5px"><b>New!</b> You can now add scores for AP Exams and SAT II Subject Tests.</span>

    <p>If you are a student (or alumnus) at TJHSST, you can <a href="/register">register with your TJ email</a>, or log in below.</p>

    <form action="/login" method="post" class="login-form">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="2">
            <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
    </form>

{% endblock %}
