{% extends "page_base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    .student-table {
        width: 100%;
    }

    dl dt {
        float: left;
        padding-right: 5px;
        font-weight: bold;
    }

    table.fancy-table tbody tr .college-table tr {
        background: transparent;
    }
    </style>
{% endblock %}

{% block content %}
    <table class="student-table fancy-table" data-sortable>
    <thead>
        <tr>
            <th>Name</th>
            <th>Info</th>
            <th>Scores</th>
            <th>SAT II/APs</th>
            <th>Honors/Extracurriculars</th>
            <th>Colleges</th>
        </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>
            {% with user=student.user %}
                <span class="name">
                    <a href="{% url 'student' student.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                    {% if student.email %}
                        <br />
                        {{ student.email }}
                    {% endif %}
                </span>
            {% endwith %}
            </td>
            <td>
                <dl class="info">
                    <dt>Gender:</dt>
                    <dd>{{ student.gender }}</dd>
                    <dt>Race:</dt>
                    <dd>{{ student.race }}</dd>
                    {% if student.hispanic %}
                        <dt>Hispanic</dt>
                        <dd>Yes</dd>
                    {% endif %}
                    {% if student.international %}
                        <dt>International</dt>
                        <dd>Yes</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl class="scores">
                    {% if student.gpa and student.gpa > 0%}
                        <dt>GPA:</dt>
                        <dd>{{ student.gpa }}</dd>
                    {% endif %}
                    {% if student.sat2400 %}
                        <dt>SAT 2400:</dt>
                        <dd>{{ student.sat2400 }}</dd>
                    {% endif %}
                    {% if student.sat1600 %}
                        <dt>SAT 1600:</dt>
                        <dd>{{ student.sat1600 }}</dd>
                    {% endif %}
                    {% if student.act %}
                        <dt>ACT:</dt>
                        <dd>{{ student.act }}</dd>
                    {% endif %}
                </dl>
            </td>
            <td>
                <dl class="sat2ap">
                    {% for t in student.sat2_set.all %}
                        <dt>{{ t.name }}:</dt>
                        <dd>{{ t.score }} ({{ t.year }})</dd>
                    {% empty %}
                        <dt>No SAT IIs</dt>
                        <dd>&nbsp;</dd>
                    {% endfor %}

                    {% for t in student.apexam_set.all %}
                        <dt>{{ t.name }}:</dt>
                        <dd{% if t.took_class %} title="Took class"{% endif %}>{{ t.score }} ({{ t.year }}</dd>
                    {% empty %}
                        <dt>No AP Exams</dt>
                        <dd>&nbsp;</dd>
                    {% endfor %}
                </dl>
            </td>
            <td>
                {{ student.honors }}
            </td>
            <td>
                <table class="college-table">
                    {% for c in student.collegeapp_set.all %}
                    <tr>
                        <td>{{ c.applied }}</td>
                        <th>{{ c.college.name }}</th>
                    </tr>
                    {% empty %}
                    <tr>
                        <th colspan="2">No colleges</th>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}