{% extends "page_base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    textarea {
        height: 100px;
    }
    </style>
{% endblock %}

{% block content %}
    <h2>{% if senior %}Update{% else %}Add{% endif %} Info</h2>

    {% if updated %}
    <div class="message">
        <i class="fa fa-check"></i> Your information was updated! <a href="{% url 'student' senior.id %}">View your profile</a>
    </div>
    {% endif %}

    <form action="" method="post" class="update-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td colspan="2"><input type="submit" value="{% if senior %}Update{% else %}Add{% endif %} Info" /></td>
            </tr>
        </table>
    </form>

{% endblock %}