{% extends "page_base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    textarea {
        height: 100px;
    }
    </style>
{% endblock %}

{% block content %}
    <h2>Update/Add AP Exams</h2>
    <a href="{% url 'update' %}" class="button">
        <i class='fa fa-arrow-left'></i> Update Personal Info
    </a>
    <br />
    <br />

    {% if request.GET.deleted %}
    <div class="message">
        The AP exam was deleted. <a href="{% url 'student' senior.id %}">View your profile</a>
    </div>
    {% endif %}

    {% if updated %}
    <div class="message">
        <i class="fa fa-check"></i> Your information was updated! <a href="{% url 'student' senior.id %}">View your profile</a>
    </div>
    {% endif %}

    <table class="college-table fancy-table">
        <tbody>
            {% for t in senior.apexam_set.all %}
            <tr>
                <th>{{ t.name }}</th>
                <td>{{ t.score }} ({{ t.year }})</td>
                <td>
                    <a href="{% url 'update_apexam' t.id %}" class="button">Update</a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td>You haven't added any AP Exams! Press the button below to start.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'update_apexam' %}" class="button">Add an AP Exam</a>
    <br /><br />

{% endblock %}