{% extends "page_base.html" %}

{% block css %}
    {{ block.super }}
    <style type="text/css">
    textarea {
        height: 100px;
    }
    </style>
{% endblock %}

{% block content %}
    <h2>Update/Add Schools</h2>
    <a href="{% url 'update' %}" class="button">
        <i class='fa fa-arrow-left'></i> Update Personal Info
    </a>
    <br />
    <br />

    <table class="college-table fancy-table">
        <tbody>
            {% for c in senior.collegeapp_set.all %}
            <tr>
                <th>{{ c.college.name }}</th>
                <td>
                    <a href="{% url 'update_school' c.id %}" class="button">Update</a>
                </td>
            </tr>
            {% empty %}
                <tr>
                    <td>You haven't added any schools! Press the button below to start.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/update_school" class="button">Add a school</a>
    <br /><br />

{% endblock %}